@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #f9f9f9;
    margin: 0px;
  }
h1,h2,h3,h4{
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
}

a{
    text-decoration: none;
}
