.banner {
    background-image:url(../../images/food.jpg) ;
    background-size: cover;
    color: white;
    padding: 150px 0;
    background-position: center;
    text-align: center;
}

.banner h1 {
    font-size: 3em;
    margin: 0;
}

.banner h2 {
    font-size: 1.5em;
    margin: 10px 0 0;
}